# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
dist/

# TypeScript
tsconfig.tsbuildinfo
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
